
.border1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.internal{
    display: flex;
    gap: 3rem;
}

.csi span{
    display: none;
}

.csi:hover span{
    display: block;
}

.arrow{
    padding-left: 10px;
}

.arrow:hover i{
    transition: 2s;
    display: block;
}

